*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: lightgrey;
  color: black;
}
h1,h2,h3{
  color: black;
  text-align: left;
  font-weight: normal;
  font-family: serif;
}
h1,#top{
  font-size: 4vw;
}

table{
  border-spacing: 25px;
}
@media only screen and (max-width: 500px){
  /*For mobile phones*/
  .topnav, .tSkills, #portrait, #aboutme, #techSkills, #portrait{
    width: 100%;
  }
}
#top{
  text-align: center;
}
/*Navigaiton bar styling*/
.topnav{
  text-align: center;
  overflow: hidden;
  background-color: lightgrey;
  color: black;
  font-variant-caps: all-small-caps;
  font-size: 3vw;
}
.topnav a {
  color: black;
  padding: 20px;
  text-decoration: none;
}

/*how to change topnav when you hover mouse over it*/
.topnav a:hover{
  color: grey;
}
/*page 1 content*/
.page1{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}
/* phrase and portrait side by side */
#phrase{
  width:50%;
  height: 50%;
  padding-top: 50px;
  padding-left: 50px;
}
#portrait{
  width: 50%;
  height: 50%;
  padding-top: 50px;
  padding-right: 50px;
}

/*page 2 content*/
.p2{
  background: ghostwhite;
}
/*get to know me paragraph styling*/
#get2me{
  font-size: 4vw;
  background-color: #89A5FF;
  width: 40%;
}
/*about me styling*/
#aboutme{
  text-indent: 50px;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  font-family: serif;
  font-size: 2.5vw;
}
/*about me - list of talents styling*/
#talents{
  font-size: 2.5vw;
  padding-left: 20%;

}
#techSkills{
  width: 40%;
  font-size: 4vw;
  background-color: lightpink;
}
/*resume download button styling*/
.btn {
  font-family: serif;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 1.75vw;
}
/* Darker background on mouse-over */
.btn:hover {
  background-color: grey;
  color: white;
}
/*Page 3 styling*/
/*my skills styling*/
.tSkills{
  padding-left: 25%;
  padding-right: 25%;
  font-size: 1.5vw;
}
.containerS {
  width: 100%;
  background-color: #bbb;
}

.skills {
  text-align: right;
  padding-top: 0.75vw;
  padding-bottom: 0.75vw;
  color: white;
  font-size: 1.5vw;
}

.html {width: 80%; background-color: grey;}
.css {width: 80%; background-color: grey;}
.js {width: 50%; background-color: grey;}
.jq {width: 30%; background-color: grey;}
.py {width: 30%; background-color: grey;}

/*Page 4 content - projects*/
#fProjects{
  text-align: center;
  font-size: 4vw;
  border-style: dotted dashed solid double;
  border-color: crimson;
}
#p4{
  background-color: ghostwhite;
}
/*projects over text*/
.textp {
  color: crimson;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Slideshow container */
.slideshow-container {
  width:50%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 4vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text for slides*/
.textS {
  color: #f2f2f2;
  font-size: 2.5vw;
  background-color: grey;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.textS a{
  text-decoration: none;
  color: black;
}
/*how to change topnav when you hover mouse over it*/
.textS a:hover{
  color: crimson;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*page 5 content - labs*/
#p5{
  background-color: lightgrey;
}
#fLabs{
  text-align: center;
  font-size: 4vw;
  border-style: dotted dashed solid double;
  border-color: darkblue;
}
/*how to make labs section scrollable*/
#scrollable{
  height: 500px;
  overflow: auto;
}
/*create three equal columns that floats next to each other*/
.zoom {
  float: left;
  width: 100%;
  padding-left: 10%;
  padding-bottom: 10%;
}
/*How to make the image appear larger when you hover over it*/
.zoom {
  transition: transform .2s;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/*Overlay*/
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: darkgrey;
}

.container:hover .overlay {
  opacity: 1;
}
/*labs over text*/
.text {
  color: darkblue;
  font-size: 2.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#contact{
  background-color: ghostwhite;
  text-align: center;
  font-family: serif;
}
#contactForm{
  padding-top: 10%;
  font-family: serif;
}
/* styling for the bottom form input and text area */
input{
  font-size: 1.75vw;
}
textarea{
  font-size: 1.75vw;
}
input::placeholder {
  font-size: 1.75vw;
}
textarea::placeholder{
  font-size: 1.75vw;
}
#name{
  font-family: serif;
  border-style: outset;
  border-width: thin;
  width: 50%;
  height: 30px;
}
#email{
  font-family: serif;
  border-style: outset;
  border-width: thin;
  height: 30px;
  width: 50%;
}
#message{
  font-family: serif;
  border-style: outset;
  width: 50%;
  border-width: thin;
}
#sendMessage{
  font-family: serif;
  background-color: yellow;
  border-color: grey;
  font-size: 1.75vw;
}
/* thank you Message */
#thanks{
  font-size: 3.5vw;
  padding-left: 25%;
  padding-right: 25%;
}

/*bottom socials bar*/
.bSocials{
  font-size: 3vw;
  color: black;
}
.bSocials a{
  color: black;
}
.bSocials a:hover{
  color: grey;
}
/*bottom button to get back to the top styling*/
#topb{
  text-decoration: none;
  color: black;
  font-variant-caps: all-small-caps;
  font-size: 3vw;
}
#topb:hover {
  color: grey;
}
footer{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: lightgrey;
  background-color: grey;
  font-size: 1.75vw;
}
