
#header{
  background-image: url("food.jpg");
  /*Source: https://www.pexels.com/photo/different-vegetables-in-pile-at-street-market-5273080/*/
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

body {
  background-color: ghostwhite;
  font-family: serif;
}

.calculator {
  border: 3px dotted black;
  padding: 10px;
  width: 800px;
  height: 100%;
  margin: auto;
  background-color: yellowgreen;
}
.input
{
  background-color: ghostwhite;
  border: 3px dotted mediumspringgreen;
  width: 150px;
  text-align: center;

}

#myButton {
 background-color: mediumspringgreen;
 border: 2px solid black;
 width: 100px;
 height: 40px;
 margin-left: 45%;
 margin-right: 45%;
}
 #myButton:hover {
    background-color: #c95738;
    cursor: pointer;
  }

}
body {
  font-family: serif;
  }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  }

.sidenav a:hover {
  color: #f1f1f1;
  }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }
